{% extends "base.html" %}
{% block content %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Convert from RIOS</h4>
  </div>
  <div class="panel-body">
    <FORM action="{{PATH_URL}}/rios" method="post" enctype="multipart/form-data">
      <P>
      <LABEL for="system">Convert To: </LABEL>
          <INPUT type="radio" name="system" value="qualtrics"/> Qualtrics
          <INPUT type="radio" checked name="system" value="redcap"/> REDCap<BR/>
      </P>
      <div class="notification">
        The converter will output REDCap files in *.csv format and Qualtrics files in *.txt format.
      </div>
      <P>
      <LABEL for="instrument_file">Input Instrument: </LABEL>
          <INPUT type="file" name="instrument_file"/><BR/>
      <LABEL for="form_file">Input Form: </LABEL>
          <INPUT type="file" name="form_file"/><BR/>
      <LABEL for="calculationset_file">Input CalculationSet (optional): </LABEL>
          <INPUT type="file" name="calculationset_file"/><BR/>
      </P>
      <P>
      <LABEL for="outname">Output filename prefix: </LABEL>
          <INPUT type="text" name="outname" data-toggle="tooltip" data-placement="right" title="The output files will be named beginning with the prefix provided (e.g., my-instrument would output the file my-instrument_i.yaml, my-instrument_f.yaml and my-instrument_c.yaml)."/><BR/>
      </P>
      <P>
      The converter determines the input format from each input file extension:
      <b>.yaml</b> or <b>.yml</b> for YAML, and
      <b>.json</b> for JSON.
      Otherwise it uses the following:<br/>
      <LABEL for="format">Default input format: </LABEL>
          <INPUT type="radio" name="format" value="json"/> JSON
          <INPUT type="radio" checked name="format" value="yaml"/> YAML<BR/>
      </P>
      <P>
      <INPUT type="submit" value="Send"/> <INPUT type="reset"/>
      </P>
    </FORM>
  </div>
</div>
{% endblock %}
