{% extends "base.html" %}
{% block content %}
<div class="row">
  <aside class="col-md-4">
    <div class="sidebar">
        <h3 class="section">RIOS Standard</h3>
        This free service may be used to convert research instruments to and from <a href="https://rioscore.readthedocs.org/en/latest/">RIOS</a>, the Research Instrument Open Standard.<br/>
        <h3 class="section">RIOS Documetation</h3>
        The implementation is based on <a href="http://pythonhosted.org/rios.conversion/">rios.conversion</a>.<br/>
    </div>
  </aside>
  <main class="col-md-8">
    <div class="main">
        <p>
            <h1 class="section">RIOS Instrument Converter</h1>
            This free service may be used to convert research instruments to and from <a href="https://rioscore.readthedocs.org/en/latest/">RIOS</a>, the Research Instrument Open Standard.<br/>
            The implementation is based on <a href="http://pythonhosted.org/rios.conversion/">rios.conversion</a>.<br/>
            <h2 class="section">API Specification</h2>
            <a href="{{PATH_URL}}convertdoc">RIOS instrument converter API specification</a><br/>
            <h2 class="section">Convert To RIOS</h2>
            <a href="{{PATH_URL}}convert/to">Form to convert to RIOS</a><br/>
            <h2 class="section">Convert From RIOS</h2>
            <a href="{{PATH_URL}}convert/from">Form to convert from RIOS</a><br/>
        </p>
    </div>
  </main>
</div>
{% endblock %}
