{% extends "base.html" %}
{% block content %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Convert to RIOS</h4>
  </div>
  <div class="panel-body">
    <FORM action="{{PATH_URL}}/rios" method="post" enctype="multipart/form-data">
      <P>
      <LABEL for="system">Convert From: </LABEL>
          <INPUT type="radio" name="system" value="qualtrics"/> Qualtrics
          <INPUT type="radio" checked name="system" value="redcap"/> REDCap<BR/>
      <LABEL for="infile"> Input file to convert: </LABEL>
          <INPUT type="file" name="infile" accept=".qsf, .csv"/><BR/>
      </P>
      <P>
      <LABEL for="outname">Output filename prefix: </LABEL>
          <INPUT type="text" name="outname" data-toggle="tooltip" data-placement="right" title="The output files will be named beginning with the prefix provided (e.g., my-instrument would output the file my-instrument_i.yaml, my-instrument_f.yaml and my-instrument_c.yaml)."/><BR/>
      <LABEL for="format">Output format: </LABEL>
          <INPUT type="radio" name="format" value="json"/> JSON
          <INPUT type="radio" checked name="format" value="yaml"/> YAML<BR/>
      </P>
      <P>
      <hr>
      Additional fields required for converting from REDCap:
      </P>
      <P>
      <LABEL for="instrument_title">Output Instrument title: </LABEL>
          <INPUT type="text" name="instrument_title" data-toggle="tooltip" data-placement="right" title="The title contains a short string that acts as a human-readable title or brief description of the Instrument described within (e.g., An Instrument Name)."/><BR/>
      <LABEL for="instrument_id">Output Instrument ID: </LABEL>
          <INPUT type="text" name="instrument_id" data-toggle="tooltip" data-html="true" data-placement="right" title="The ID must be a Unique Research Identifier (URI) as described in <a href='https://tools.ietf.org/html/rfc3986'>RFC3986</a> that uniquely identifies the instrument described with the definition (e.g., aninstrumentname). The instrument ID cannot contains spaces or special characters such as a hyphen or underscore."/><BR/>
      </P>
      <P>
      <INPUT type="submit" value="Send"/> <INPUT type="reset"/>
      </P>
    </FORM>
  </div>
</div>
{% endblock %}
